{% extends "index.html"%}
{% block content %}

<form action="" method="POST">
        {{ categoryForm.hidden_tag() }}
        <div class="form-group">
                {{categoryForm.newCategory.label(class="form-control-label")}}
                {% if categoryForm.newCategory.errors %}
                {{categoryForm.newCategory(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error  in categoryForm.newCategory.errors %}.
                    <span> {{error}} </span>
                    {%endfor%}
                </div>
                {% else %}
                {{categoryForm.newCategory(class="form-control")}}
                {% endif %}
        </div>
        <div class="form-group">
                {{categoryForm.rate.label(class="form-control-label")}}
                {% if categoryForm.rate.errors %}
                {{categoryForm.rate(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error  in categoryForm.rate.errors %}.
                    <span> {{error}} </span>
                    {%endfor%}
                </div>
                {% else %}
                {{categoryForm.rate(class="form-control")}}
                {% endif %}
        </div>
        <div class="form-group">
                {{categoryForm.submit(class="btn btn-primary")}}
            </div>
        </form>

{% endblock %}