{% extends "index.html"%}
{% block content%} 
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Rank</th>
                <th>Metadata</th>
                <th>UpdateAt</th>
                <th>createdAt</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for favorite in favorites.items%}
                <tr>
                    <td>{{favorite.title}}</td>
                    <td>{{favorite.description}}</td>
                    <td>{{favorite.group.name}}</td>
                    <td>{{favorite.group.rate}}</td>
                    <td>{{favorite.meta_data}}</td>
                    <td>{{favorite.updateAt.strftime('%Y-%m-%d %H:%M')}}</td>
                    <td>{{favorite.createdAt.strftime('%Y-%m-%d %H:%M')}}</td>
                    {% if current_user.id == favorite.user_id %}
                    <td><form action="{{ url_for('favorites.deleteFavoriteThing',thing_id=favorite.id) }}" method="POST">
                        <input class="btn btn-danger btn-xs" value="Delete"  type="submit"></td>
                    </form>   
                    <td>
                      <a class="btn btn-primary btn-xs" href="{{ url_for('favorites.updateFavoriteThing',thing_id=favorite.id) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {%endfor%}
              </tbody>
            </table>
            <div class=container>
            {%for page_num in favorites.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)%}
            {% if page_num %}
            {% if favorites.page == page_num %}
            <a class="btn btn-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
            {%else%}
            <a class="btn btn-outline-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
            {%endif%}
            {%else%}
            ....
            {%endif%}
            {%endfor%}
          </div>
    {% endblock %}

